
<%= render 'application/navbar' %>
<div class="container">
  <div class="text-center mt-2">
    <h1 style="font-family: Helvetica, sans-serif">All Movies (<%= @movies.count %>)</h1>
  </div>
  <hr>
  <div class="row text-center">
  <% @movies.each do |movie| %>
      <div class="col-3 my-2 card">
        <div class="card-top">
          <div class="shadow d-flex justify-content-center align-items-center" style="min-height: 30rem">
            <img class ="poster" src="<%= movie.poster_url %>" alt="poster">
          </div>
        </div>
        <div class="card-inner" >
          <hr>
          <p><%= movie.overview %></p>
          <hr>
          <%= link_to "Add Poster", edit_movie_path(movie), class: 'btn btn-primary' %>
        </div>
      </div>
  <% end %>
  </div>
    <hr class="py-1">
</div>
